# Dependencies
node_modules
.pnp
.pnp.js

# Production build
dist
dist-ssr

# Environment variables
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
